$ui-primary: hsla(215, 100%, 50%, 1); /* Dark blue */
$ui-secondary: hsla(215, 75%, 55%, 1); /* Lighter blue */
$ui-tertiary: hsla(215, 50%, 60%, 1); /* Light blue */

$ui-modal-overlay: hsla(215, 100%, 40%, 0.9); /* Darker blue for modal overlay */

$ui-white: hsla(0, 0%, 100%, 1); /* White */
$ui-white-dim: hsla(0, 0%, 100%, 0.75); /* 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 0%, 100%, 0.25); /* 25% transparent version of ui-white */
$ui-transparent: hsla(0, 0%, 100%, 0); /* Transparent */

$ui-black-transparent: hsla(0, 0%, 0%, 0.15); /* 15% transparent version of black */

$text-primary: hsla(225, 15%, 70%, 1); /* Dark gray */
$text-primary-transparent: hsla(225, 15%, 70%, 0.75); /* Transparent version */

$motion-primary: hsla(215, 100%, 50%, 1); /* Dark blue for motion */
$motion-tertiary: hsla(215, 60%, 40%, 1); /* Darker blue for tertiary motion */

$looks-secondary: hsla(260, 60%, 70%, 1); /* Dark purple */
$looks-transparent: hsla(260, 60%, 70%, 0.35); /* 35% transparent version */
$looks-light-transparent: hsla(260, 60%, 70%, 0.15); /* 15% transparent version */
$looks-secondary-dark: hsla(260, 42%, 60%, 1); /* Darker purple */

$red-primary: hsla(0, 70%, 70%, 1); /* Dark red */
$red-tertiary: hsla(0, 70%, 60%, 1); /* Darker red */

$sound-primary: hsla(300, 53%, 55%, 1); /* Dark purple */
$sound-tertiary: hsla(300, 48%, 45%, 1); /* Darker purple */

$control-primary: hsla(38, 100%, 50%, 1); /* Orange */

$data-primary: hsla(30, 100%, 55%, 1); /* Orange */

$pen-primary: hsla(163, 85%, 40%, 1); /* Dark cyan */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* 25% transparent version */
$pen-tertiary: hsla(163, 86%, 30%, 1); /* Darker cyan */

$error-primary: hsla(0, 70%, 70%, 1); /* Dark red */
$error-light: hsla(0, 70%, 85%, 1); /* Lighter red */
$error-transparent: hsla(0, 70%, 70%, 0.25); /* 25% transparent version */

$extensions-primary: hsla(163, 85%, 40%, 1); /* Dark cyan */
$extensions-tertiary: hsla(163, 85%, 30%, 1); /* Darker cyan */
$extensions-transparent: hsla(163, 85%, 40%, 0.35); /* 35% transparent version */
$extensions-light: hsla(163, 57%, 70%, 1); /* Lighter version on white bg */

$drop-highlight: hsla(215, 100%, 67%, 1); /* Lighter blue */
